 .head-svg{
   padding: 5px 5px;
   margin: 8px 8px;
   

   -webkit-animation: NAME-YOUR-ANIMATION 10s infinite; /* Safari 4+ */
   -moz-animation:    NAME-YOUR-ANIMATION 10s infinite; /* Fx 5+ */
   -o-animation:      NAME-YOUR-ANIMATION 10s infinite; /* Opera 12+ */
   animation:         NAME-YOUR-ANIMATION 10s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
    0%   { opacity: .2;  transform: translateY(0px);}
    50%   { opacity: .4;  }
    75%   { opacity: .6; }
    100% { opacity: .8;   transform: translateY(-.3px);}
  }
  @-moz-keyframes NAME-YOUR-ANIMATION {
    0%   { opacity: .3;  transform: translateY(0px);}
    25%   { opacity: .4; }
    50%   { opacity: .6; }
    75%   { opacity: .8; }
    100% { opacity: 1;  transform: translateY(-.3px);}
  }
  @-o-keyframes NAME-YOUR-ANIMATION {
    0%   { opacity: .3;  transform: translateY(0px);}
    25%   { opacity: .4; }
    50%   { opacity: .6; }
    75%   { opacity: .8; }
    100% { opacity: 1;  transform: translateY(-.3px);}
  }
  @keyframes NAME-YOUR-ANIMATION {
    0%   { opacity: .3;  transform: translateY(.1px); transform: skewX(.3deg); transform: scale(1.0); transform: rotate(2deg); box-shadow: 1px 2px 1px 2px rgb(32, 32, 32)}
    25%   { opacity: .4; transform: translateY(0px); transform:  rotate(1deg);}
    50%   { opacity: .6; transform: translateY(-.1px); transform: rotate(0deg);}
    75%   { opacity: .8;  transform: translateY(-.2px); transform: rotate(-1deg);}
    100% { opacity: 1;  transform: translateY(-.3px); transform: skewX(-.6deg); transform: scale(1.2); transform: rotate(-2deg);}
  }

