/* You can add global styles to this file, and also import other style files */
button.navbar-toggle{
    position: absolute;
    top: 0;
    right: 30px;
    
}

body{

    background-image: radial-gradient(circle, #dae0e9, #dbe9ef, #e1f2f1, #ecf9f1, #fbfff2) !important;

}